﻿@page
@model WebApp.Pages.Flights

<h4>Flights from @Model.OriginPlanet.PlanetName to @Model.DestinationPlanet.PlanetName:</h4><br/>

@* Filter and sort form *@
<form method="get">
    <input type="hidden" name="origin" value="@Model.OriginId"/>
    <input type="hidden" name="destination" value="@Model.DestinationId"/>
    <div>
        <label for="companies">Filter by companies:</label><br/>
        @foreach (var company in Model.Companies)
        {
            if (Model.CheckedCompanies.Contains(company.CompanyId))
            {
                <input type="checkbox" id="companies" name="company" value="@company.CompanyId" checked>
            }
            else
            {
                <input type="checkbox" id="companies" name="company" value="@company.CompanyId">
            }
            <label for="companies">@company.CompanyName | </label>
        }
    </div><br/>
    <div>
        Order results by:<br/>
        @if (Model.Sort == "cheapest")
        {
            <input type="radio" id="cheapest" name="sort" value="cheapest" checked>
        }
        else
        {
            <input type="radio" id="cheapest" name="sort" value="cheapest">
        }
        <label for="cheapest">Cheapest first | </label>
        @if (Model.Sort == "soonest")
        {
            <input type="radio" id="soonest" name="sort" value="soonest" checked>
        }
        else
        {
            <input type="radio" id="soonest" name="sort" value="soonest">
        }
        <label for="soonest">Soonest arrivals first | </label>
        @* @if (Model.Sort == "quickest") *@
        @* { *@
        @*     <input type="radio" id="quickest" name="sort" value="quickest" checked> *@
        @* } *@
        @* else *@
        @* { *@
        @*     <input type="radio" id="quickest" name="sort" value="quickest"> *@
        @* } *@
        @* <label for="quickest">Quickest first | </label> *@
        @if (Model.Sort == "shortest")
        {
            <input type="radio" id="shortest" name="sort" value="shortest" checked>
        }
        else
        {
            <input type="radio" id="shortest" name="sort" value="shortest">
        }
        <label for="shortest">Shortest distance first</label>
    </div><br/>
    <div>
        <input type="submit" value="Search" class="btn btn-primary"/>
    </div>
</form>


@* Flights table *@
@if (Model.FlightCombos.Any())
{<table class="table">
 <thead>
     <tr>
         <th>
             Route
         </th>
         <th>
             Departure
         </th>
         <th>
             Arrival
         </th>
         <th>
             Price
         </th>
         <th>
             Distance
         </th>
         <th>
             Company
         </th>
         <th></th>
     </tr>
 </thead>
 <tbody>
 @foreach (var combo in Model.FlightCombos)
 {
     <form method="get" asp-page="/ReservationForm">
         <tr>
             <th>
                 @combo[0].Leg.RouteInfo.PlanetFrom.PlanetName
                 @foreach (var planetTo in combo.Select(p => "->" + p.Leg.RouteInfo.PlanetTo.PlanetName))
                 {
                     @planetTo
                 }
             </th>
             <th>
                 @combo.Select(c => c.FlightStart).Min()
             </th>
             <th>
                 @combo.Select(c => c.FlightEnd).Max()
             </th>
             <th>
                 @combo.Select(c => c.Price).Sum()
             </th>
             <th>
                 @combo.Select(c => c.Leg.RouteInfo.Distance).Sum()
             </th>
             <th>
                 @if (combo.Count == 1)
                 {
                     @combo[0].Company.CompanyName
                 }
             </th>
             <th>
                 <input type="submit" value="Make reservation" class="btn btn-primary"/>
             </th>
         </tr>
         @if (combo.Count > 1)
         {
             @foreach (var flight in combo)
             {
                 <tr>
                     <td>
                         @flight.Leg.RouteInfo.PlanetFrom.PlanetName->@flight.Leg.RouteInfo.PlanetTo.PlanetName
                     </td>
                     <td>
                         @flight.FlightStart
                     </td>
                     <td>
                         @flight.FlightEnd
                     </td>
                     <td>
                         @flight.Price
                     </td>
                     <td>
                         @flight.Leg.RouteInfo.Distance
                     </td>
                     <td>
                         @flight.Company.CompanyName
                     </td>
                     <td>
                         <input type="hidden" name="flightId" value="@flight.ProviderId"/>
                     </td>
                 </tr>
             }
         }
         else
         {
             <input type="hidden" name="flightId" value="@combo[0].ProviderId"/>
         }
     </form>
 }
 </tbody>
</table>
}
@if (!Model.FlightCombos.Any())
{
    <h4>No flights found!</h4>
}