﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="align-content-sm-center">
@* Flight search form *@
    <form method="get" asp-page="/Flights">
        <h4>Search flights:</h4>
        
        @if (Model.Origin != null && Model.Origin == Model.Destination)
        {
            <h6 style="color:red">Origin and destination cannot be same!</h6>
        }
        <div>
            <label for="origin">Select origin: </label>
            <select name="origin" id="origin">
                @foreach (var planet in Model.Planets)
                {
                    if (planet.PlanetId == Model.Origin)
                    {
                        <option selected value="@planet.PlanetId">@planet.PlanetName</option>
                    }
                    else
                    {
                        <option value="@planet.PlanetId">@planet.PlanetName</option>
                    }
                }
            </select>
        </div><br/>
        <div>
            <label for="destination">Select destination: </label>
            <select name="destination" id="destination">
                @foreach (var planet in Model.Planets)
                {
                    if (planet.PlanetId == Model.Origin)
                    {
                        <option selected value="@planet.PlanetId">@planet.PlanetName</option>
                    }
                    else
                    {
                        <option value="@planet.PlanetId">@planet.PlanetName</option>
                    }
                }
            </select>
        </div><br/>
        <div>
            <input type="submit" value="Search flights" class="btn btn-primary"/>
        </div><br/>

    </form><br/><br/>

@* Reservation search form *@
    <form method="get" asp-page="/Reservations">
        <h4>Search reservations:</h4>
        
        @if (Model.FirstName != null && Model.LastName != null)
        {
            <h6 style="color:red">No reservations found for @Model.FirstName @Model.LastName!</h6>
        }
        <div>
            <label for="firstName">First name: </label>
            <input type="text" id="firstName" name="firstName" required minlength="1" value="@Model.FirstName"><br/>
        </div><br/>
        <div>
            <label for="lastName">Last name: </label>
            <input type="text" id="lastName" name="lastName" required minlength="1" value="@Model.LastName"><br/>
        </div><br/>
        <div>
            <input type="submit" value="Search reservations" class="btn btn-primary"/>
        </div><br/>
    </form>
</div>