﻿@page
@using Domain
@model WebApp.Pages.ReservationForm

<form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Reservation.FirstName" class="control-label"></label>
                <input asp-for="Reservation.FirstName" class="form-control" />
                <span asp-validation-for="Reservation.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.LastName" class="control-label"></label>
                <input asp-for="Reservation.LastName" class="form-control" />
                <span asp-validation-for="Reservation.LastName" class="text-danger"></span>
            </div>
            
    <table class="table">
        <thead>
        <tr>
            <th>
                Route
            </th>
            <th>
                Departure
            </th>
            <th>
                Arrival
            </th>
            <th>
                Price
            </th>
            <th>
                Company
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>
                @Model.Flights[0].Leg.RouteInfo.PlanetFrom.PlanetName
                @foreach (var planetTo in Model.Flights.Select(p => "->" + p.Leg.RouteInfo.PlanetTo.PlanetName))
                {
                    @planetTo
                }
            </th>
            <th>
                @Model.Flights.Select(c => c.FlightStart).Min()
            </th>
            <th>
                @Model.Flights.Select(c => c.FlightEnd).Max()
            </th>
            <th>
                @Model.Flights.Select(c => c.Price).Sum()
            </th>
            <th>
                @if (Model.Flights.Count == 1)
                {
                    @Model.Flights[0].Company.CompanyName
                }
            </th>
        </tr>
        @if (Model.Flights.Count > 1)
        {
            @foreach (var flight in Model.Flights)
            {
                <tr>
                    <td>
                        @flight.Leg.RouteInfo.PlanetFrom.PlanetName->@flight.Leg.RouteInfo.PlanetTo.PlanetName
                    </td>
                    <td>
                        @flight.FlightStart
                    </td>
                    <td>
                        @flight.FlightEnd
                    </td>
                    <td>
                        @flight.Price
                    </td>
                    <td>
                        @flight.Company.CompanyName
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
    
    <div class="form-group">
        <input type="hidden" asp-for="Reservation.PriceListId"/>
        @for (var index = 0; index < Model.FlightIds.Count; index++)
        {
            <input type="hidden" asp-for="FlightIds[index]"/>
        }
        <input type="submit" value="Make reservation" class="btn btn-primary"/>
    </div>
</form>
