﻿@page
@model WebApp.Pages.Reservations

<h4>@Model.ReservationList[0].FirstName @Model.ReservationList[0].LastName's reservations:</h4>

<table class="table">
 <thead>
     <tr>
         <th>
             Route
         </th>
         <th>
             Departure
         </th>
         <th>
             Arrival
         </th>
         <th>
             Price
         </th>
         <th>
             Distance
         </th>
         <th>
             Company
         </th>
     </tr>
 </thead>
<tbody>
@foreach (var flights in Model.FlightCombos)
{
    <tr>
        <th>
            @flights[0].Leg.RouteInfo.PlanetFrom.PlanetName
            @foreach(var planetTo in flights.Select(p => "->" + p.Leg.RouteInfo.PlanetTo.PlanetName))
            {
                @planetTo
            }
        </th>
        <th>
            @flights.Select(c => c.FlightStart).Min()
        </th>
        <th>
            @flights.Select(c => c.FlightEnd).Max()
        </th>
        <th>
            @flights.Select(c => c.Price).Sum()
        </th>
        <th>
            @flights.Select(c => c.Leg.RouteInfo.Distance).Sum()
        </th>
        <th>
            @if (flights.Count == 1)
            {
                @flights[0].Company.CompanyName
            }
        </th>
    </tr>
    @if (flights.Count > 1)
    {
        @foreach (var flight in flights)
        {
            <tr>
                <td>
                    @flight.Leg.RouteInfo.PlanetFrom.PlanetName->@flight.Leg.RouteInfo.PlanetTo.PlanetName
                </td>
                <td>
                    @flight.FlightStart
                </td>
                <td>
                    @flight.FlightEnd
                </td>
                <td>
                    @flight.Price
                </td>
                <td>
                    @flight.Leg.RouteInfo.Distance
                </td>
                <td>
                    @flight.Company.CompanyName
                </td>
            </tr>
        }
    }
}
</tbody>
</table>
